html {
    color: rgb(14, 24, 95);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size: 1.25rem;
    line-height: 1.2
}

h1 {
    color: rgb(14, 24, 95);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

h2,
h3 {
    color:rgb(241, 30, 30);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline dotted rgba(238, 215green, 4blue, 0);
    text-underline-offset: 12rem;
}


h2 {
    font-size: 2rem;
    margin: 2rem;
    text-decoration: none;
}

h3 {
    font-size: 1.5rem;
}
/* these divs are to align text and picture */
div.menu ul li {
    font-size: 1.5rem;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

div.arm {
    font-size: 1.5rem;
    text-align: center;
}

.main1 {
    color: rgb(14, 24, 95);
    font-size: 1.5rem;
    margin: 2rem;
}

nav a,
.assignments {
    color: rgb(14, 24, 95);
    font-weight: 700;
    text-decoration: none;
}

.assignments li::before {
    content: "\1F3F5  ";
    font-size: 1.6;
}

.assignments a, li {
    font-size: 1.6rem;
    list-style-type: none;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    line-height: 1.5;
}

nav a:hover,
nav a:active {
    color: rgb(114, 9, 96);
    text-decoration: underline dotted rgb(121, 6, 102) .3rem;
    text-underline-offset: .2rem;
}

.assignments a:link,
.assignments a:visited {
    line-height: 1.8;
}

.assignments a:hover,
.assignments a:active {
    color: red;
    text-decoration: underline crimson;
}


footer {
    color: rgb(14, 24, 95);
    font-weight: 700;
    margin: 2rem;
}