html {
    color: rgb(78, 56, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size: 1.25rem;
    line-height: 1.2
}

.flat {
    animation: animate 8s linear, flat 6s ease;
    color: rgb(216, 62, 42);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 1rem;
    position: relative;
    top: 0;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    
}



img {
    float: left;
    max-width: 30%;
    margin-left: 5%;
    margin-right: 10%;
    position: relative;
    top: 130px;
    border-radius: 50%;
    box-shadow: 5px 5px 3px rgb(173, 159, 159);
    shape-outside: circle(50%);
}

/* made reference to https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition_transform */
div.rotating {
    animation: spin 8s infinite;
    float: right;
    width: 80px;px;
    height: 80px;
    background: rgb(75, 17, 151);
    position: fixed;
    right: 3rem;
    text-align: center;
    transition: width 2s, height 2s, transform 2s;
}


h1 {
    color: rgb(168, 104, 50);
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 2rem;
    position: relative;
    top: 80px;
    text-align: left;
    text-decoration: none;
    text-shadow: 3px 3px 3px rgb(161, 156, 156);
    text-transform: capitalize;
}

h2,
h3 {
    color:rgb(129, 67, 16);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline dotted rgba(238, 215green, 4blue, 0);
    text-underline-offset: 12rem;
}


h2 {
    font-size: 2rem;
    margin: 2rem;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(20, 18, 18);
}

h3 {
    animation: welcome 8s linear;
    font-size: 1.5rem;

}
/* these divs are to align text and picture */
div.menu ul li {
    font-size: 1.5rem;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
    z-index: 20;
}

body {
    color: white;
    background-image: url("/img/sky1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 2rem 20px;
}

nav {
     position: relative;
}

nav ul {
    background-color: rgba(63, 109, 236, 0.4);
    bottom: 1px;
    float: right;
    padding: 0;
    position: fixed;
    right: 1rem;
    top: 0;
    width: 240px;
}


.assignments,
.main1 {
    background-color: rgba(248, 237, 237, 0.4);
    border-radius: 1rem;
    color: rgb(14, 24, 95);
    font-size: 1.5rem;
    margin: 2rem;
    padding: 0 20px ;
    width: 60%;
}

nav a,
.assignments {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.assignments li::before {
    color: black;
    content: "\1F3F5  ";
    font-size: 1.6;
}

.assignments a, li {
    font-size: 1.6rem;
    list-style-type: none;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    line-height: 1.5;
}

nav a:hover,
nav a:active {
    color: rgb(114, 9, 96);
    text-decoration: underline dotted rgb(121, 6, 102) .3rem;
    text-underline-offset: .2rem;
}

.assignments a:link,
.assignments a:visited {
    line-height: 1.8;
}

.assignments a:hover,
.assignments a:active {
    color: red;
    text-decoration: underline crimson;
}


footer a {
    color: rgb(6, 8, 24);
    font-weight: 500;
    margin: 2rem;
    position: relative;
}


small {
    bottom: 1rem;
    color: rgb(0, 0, 0);
    float: right;
    padding: 0;
    position: fixed;
    right: 1rem;
    text-align: center;
}


@keyframes flat {
    
    0% {
        background-color: transparent;
        color: purple;
        opacity: 0;
    }
    
    25% {
        background-color: blue;
    }
    
    50% {
        background-color: orange;
    }
    
    75% {
        background-color: pink;
    }
    
    100% {
        background-color: purple;
        color: white;
        opacity: 1;
    }
    
}



@keyframes animate {
    
    0% {
               transform: translateX(0);
    }
    
    100% {
                transform: translateX(83%);
    }
    
}


@keyframes welcome {
    
    0% {
               transform: translateX(0);
    }
    
    100% {
                transform: translateX(13%);
    }
    
}

@keyframes spin {

    0% {
        width: 80px;px;
        height: 80px;
    }

    100% {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
    }
    
}

/*
    animation-duration: 8s;
    animation-name: flat 4s ease;
    animation-timing-function: ease;
 
*/